# Google Maps API Key for the Guess Place game feature
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

# Backend API Base URL
API_BASE_URL=http://localhost:9090

# Keycloak Authentication Server URL
KEYCLOAK_URL=http://localhost:8280
