# PUBLIC
API_BASE_URL=http://localhost:9090
KEYCLOAK_URL=http://localhost:8280

# SECRET
GOOGLE_MAPS_API_KEY=
TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=
GOOGLE_TRANSLATE_API_KEY=your_google_cloud_translation_api_key
ELEVENLABS_API_KEY=your_elevenlabs_api_key