/keycloak

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build outputs
**/target/
**/build/
**/dist/
**/out/

# Compiled files
*.class
*.jar
*.war
frontend/angular.json
backend/user-service/src/main/java/org/techhive/userservice/entity/User.java
frontend/angular.json
GUIDE_DEMARRAGE.md